@page "/"
@using WorkoutTrackerWebsite.Controllers
@using WorkoutTrackerWebsite.Models
@inject WorkoutController WorkoutController

<title>workout list</title>
<style>
    site.css
</style>

<body>
    <button @onclick="(() => 
        {
        showingAddWorkoutDialog = true;
        isUpdatingWorkout = false;
        })">Add Workout</button>

    <h1>Previous workouts</h1>
    <table>
        <thead>
            <th class="workout-table">Workout Name</th>
            <th class="workout-table">Date</th>
            <th class="workout-table">Weight</th>
            <th class="workout-table">Reps</th>
            <th class="workout-table">Sets</th>
            <th class="workout-table"></th>
            <th class="workout-table"></th>
        </thead>
        <tbody>
            @if (workouts is not null && workouts.Count() is not 0)
            {
                foreach (Workout? workout in workouts)
                {
                    <tr>
                        <td>@workout.Date.ToString("d")</td>
                        <td>@workout.Name</td>
                        <td>@workout.Weight</td>
                        <td>@workout.Reps</td>
                        <td>@workout.Sets</td>
                        <td @onclick="(() => {
                            this.workout = workout;
                            isUpdatingWorkout = true;
                            showingAddWorkoutDialog = true;
                            })">Edit</td>
                        <td @onclick="(() => WorkoutController.DeleteWorkout(workout.Id))">Delete</td>
                    </tr>
                }
            }
            else
            {
                <p>No workouts avalible yet</p>
            }
        </tbody>
    </table>
</body>


@if (showingAddWorkoutDialog)
{
    <AddWorkoutDialog
    WorkoutParam=workout
    OnConfirmWorkoutAdd="AddWorkoutToDatabase"
    OnCancelWorkoutAdd="CancelAddWorkoutDialog"></AddWorkoutDialog>
}

@code {
    bool showingAddWorkoutDialog = false;
    bool isUpdatingWorkout = false;
    Workout workout = new Workout();
    List<Workout>? workouts { get; set; } = new();

    protected override void OnInitialized()
    {
        workout = new Workout();
        UpdateWorkoutList();
    }

    public void AddWorkoutToDatabase()
    {
        (isUpdatingWorkout) ? WorkoutController.UpdateWorkout(Workout) : WorkoutController.CreateNewWorkout(workout);
        UpdateWorkoutList();
    }
    public void CancelAddWorkoutDialog()
    {
        showingAddWorkoutDialog = false;
        workout = new Workout();
    }

    using Microsoft.EntityFrameworkCore.Diagnostics;
#line default
{
        workouts = (await WorkoutController.GetAll()).Value;
    }
}
