@using WorkoutTrackerWebsite.Models;
@using WorkoutTrackerWebsite.Controllers;
@inject HttpClient HttpClient
@inject WorkoutController workoutController

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>Enter your workout: </h2>
        </div>
        <EditForm class="dialog-body" Model=@WorkoutParam
            OnValidSubmit="@(() =>OnConfirmWorkoutAdd.InvokeAsync(WorkoutParam))">
            <DataAnnotationsValidator />

            <label>Workout Name: </label>
            <InputText @bind-Value="@WorkoutParam.Name" />
            <ValidationMessage For="@(() => WorkoutParam.Name)" />

            <label>Date: </label>
            <InputDate @bind-Value="@WorkoutParam.Date"></InputDate>
            <ValidationMessage For="@(() => WorkoutParam.Date)" />

            <label>Weight: </label>
            <InputNumber @bind-Value="@WorkoutParam.Weight" />
            <ValidationMessage For="@(() => WorkoutParam.Weight)" />

            <label>Sets: </label>
            <InputNumber @bind-Value="@WorkoutParam.Sets" />
            <ValidationMessage For="@(() => WorkoutParam.Sets)" />

            <label>Total Reps: </label>
            <InputNumber @bind-Value="@WorkoutParam.Reps" />
            <ValidationMessage For="@(() => WorkoutParam.Reps)" />

        </EditForm>

        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancelWorkoutAdd">Cancel</button>

            <button class="btn btn-secondary mr-auto" type="reset">Add</button>
        </div>
    </div>
</div>

@code
{
    [Parameter] public Workout WorkoutParam { get; set; } = new();
    [Parameter] public EventCallback<Workout> OnConfirmWorkoutAdd { get; set; }
    [Parameter] public EventCallback OnCancelWorkoutAdd { get; set; }
}