@using WorkoutTrackerWebsite.Models;
@using WorkoutTrackerWebsite.Controllers;
@inject HttpClient HttpClient
@inject WorkoutController workoutController;

<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>Enter your workout: </h2>
        </div>
        <form class="dialog-body">
            <label>workout name: </label>
            <input @bind="@name">

            <label>Date: </label>
            <InputDate TValue="DateOnly" @bind-Value="@date"></InputDate>

            <label>Weight: </label>
            <input TValue="Int64" @bind="@weight"></input>

            <label>Sets: </label>
            <input TValue="Int64" @bind="@sets"></input>

            <label>Reps: </label>
            <input TValue="Int64" @bind="@reps"></input>

            <button @onclick="AddNewWorkout"></button>
        </form>
    </div>
</div>

@code
{
    string name { get; set; } = "";
    DateOnly date { get; set; } = DateOnly.FromDateTime(DateTime.Today);
    int weight = 0, sets = 0, reps = 0;

    void AddNewWorkout()
    {
        Workout newWorkout = new Workout();

        newWorkout.Name = name;
        newWorkout.Date = date;
        newWorkout.Weight = weight;
        newWorkout.Sets = sets;
        newWorkout.Reps = reps;

        workoutController.Create(newWorkout);

        name = "";
        date = DateOnly.FromDateTime(DateTime.Today);
        weight = 0;
        sets = 0;
        reps = 0;
    }
}
